<mat-card class="app-stats">
  <mat-card-header class="app-stats__title">
    <mat-card-title> Balance details </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="app-stats__items">
    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>NextPayment</span>
      <span>100$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Next Payment Due</span>
      <span>08/08/2020</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Last Payment</span>
      <span>1000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Last Payment Due</span>
      <span>08/08/2020</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Last payment revieved Due</span>
      <span>08/08/2020</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Interest rate</span>
      <span>08/08/2020</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Deferred balance</span>
      <span>1.000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Total fees charged</span>
      <span>1.000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Unapplied funds</span>
      <span>1.000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Last fee balance funds</span>
      <span>1.000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Maturity date</span>
      <span>1.000$</span>
    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-stroked-button color="primary">NEXT PAYMENT</button>
    <button mat-stroked-button color="primary">PAYOFF</button>
  </mat-card-actions>
</mat-card>
