@import "../../../../styles.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
  background: mat-color($app-primary);
  background: linear-gradient(
    to bottom,
    mat-color($app-primary) 0,
    mat-color($app-primary, 800) 100%
  );
  background-size: 150% 150%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation-toolbar {
  background-color: white;
  border-bottom: 1px solid#e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-content {
  background: #f5f5f5;

  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  min-height: 100vh;
}

.nav-loan {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;

  mat-form-field {
    width: 100%;
  }
}

// ::ng-deep {
//   $custom-main-color: white;
//   $custom-label-color: white;

//   // mat-icon-stepper selected color change
//   .mat-step-header .mat-step-icon-selected,
//   .mat-step-header .mat-step-icon-state-done,
//   .mat-step-header .mat-step-icon-state-edit {
//     background-color: $custom-main-color !important;
//   }

//   // input outline color
//   .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: $custom-main-color !important;
//   }

//   // mat-input focused color
//   .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
//     color: $custom-main-color !important;
//   }

//   // mat-input error outline color
//   .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
//     .mat-form-field-outline-thick {
//     color: $custom-main-color !important;
//     opacity: 0.8 !important;
//   }

//   // mat-input caret color
//   .mat-input-element {
//     caret-color: $custom-main-color !important;
//   }

//   // mat-input error caret color
//   .mat-form-field-invalid .mat-input-element,
//   .mat-warn .mat-input-element {
//     caret-color: $custom-main-color !important;
//   }

//   // mat-label normal state style
//   .mat-form-field-label {
//     color: $custom-label-color !important;
//   }

//   // mat-label focused style
//   .mat-form-field.mat-focused .mat-form-field-label {
//     color: $custom-main-color !important;
//   }

//   // mat-label error style
//   .mat-form-field.mat-form-field-invalid .mat-form-field-label {
//     color: $custom-main-color !important;
//   }

//   .mat-select-value {
//     color: $custom-main-color;
//   }
// }
