<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <app-navigation-logo> </app-navigation-logo>
    </mat-toolbar>

    <app-navigation-user
      [isUserInfoOpened]="isUserInfoOpened"
      (toggleUserInfo)="onOpenUserInfo()"
    >
    </app-navigation-user>

    <app-navigation-loan> </app-navigation-loan>

    <!-- <div class="nav-loan">
      <mat-form-field appearance="outline">
        <mat-label>Select loan</mat-label>
        <mat-select>
          <mat-option value="option1">123456789</mat-option>
          <mat-option value="option2">555555555</mat-option>
          <mat-option value="option3">666666666</mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="nav">
      <app-navigation-link
        *ngFor="let menuItem of menuItems"
        [menuItem]="menuItem"
        (expand)="onExpand($event)"
      >
      </app-navigation-link>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navigation-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['account', 'add']"
        >
          Add Loan
        </button>
      </div>
    </mat-toolbar>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
