.nav-logo {
  color: white;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;

  mat-icon {
    margin-right: 15px;
  }
}
