.app-stats {
  margin: auto;
  min-width: 300px;
  background-color: white;
  border-bottom: 1px solid#e2e2e2;
  margin-bottom: 2px;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__items {
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__item {
    padding-bottom: 12px;
  }
}
