<div class="nav-loan">
  <mat-form-field appearance="outline">
    <mat-label>Select loan</mat-label>
    <mat-select>
      <mat-option value="option1">123456789</mat-option>
      <mat-option value="option2">555555555</mat-option>
      <mat-option value="option3">666666666</mat-option>
    </mat-select>
  </mat-form-field>
</div>
