<div>
  <!-- Menu item - link -->
  <a
    routerLinkActive="nav-item--active"
    [routerLink]="menuItem.path"
    *ngIf="menuItem.type === 'link'"
    class="nav-item"
  >
    <mat-icon class="nav-item__icon nav-item__icon--medium" aria-hidden="false">
      {{ menuItem.icontype }}
    </mat-icon>
    <p class="nav-item__text nav-item__text--medium">
      {{ menuItem.title }}
    </p>
  </a>
  <!-- Menu item - sub -->
  <a
    routerLinkActive="nav-item--active"
    *ngIf="menuItem.type === 'sub'"
    class="nav-item"
    (click)="onExpand()"
  >
    <mat-icon class="nav-item__icon nav-item__icon--medium" aria-hidden="false">
      {{ menuItem.icontype }}
    </mat-icon>
    <p class="nav-item__text nav-item__text--medium">
      {{ menuItem.title }}
    </p>
    <mat-icon
      class="nav-item-collapse nav-item__icon--expand"
      [@animationRotate]="state"
    >
      expand_more
    </mat-icon>
  </a>
  <!--Display the submenu items-->
  <div [@animationShowHide]="state">
    <div *ngFor="let childitem of menuItem.children">
      <a
        routerLinkActive="nav-item--active"
        class="nav-item nav-item__sub"
        [routerLink]="[menuItem.path, childitem.path]"
      >
        <span class="nav-item__ab">{{ childitem.ab }}</span>
        <p>{{ childitem.title }}</p>
      </a>
    </div>
  </div>
</div>
