<mat-card class="app-stats">
  <mat-card-header class="app-stats__title">
    <mat-card-title> Next payment details </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="app-stats__items">
    <h2>Explanation of Amount Due</h2>
    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Principal</span>
      <span>100$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Intrest</span>
      <span>100$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Escrow/Impound</span>
      <span>1000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span><strong>Regular Monthly Payment</strong></span>
      <span><strong>1200 $</strong></span>
    </div>

    <br />

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Total Fees and Charges</span>
      <span>100$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Overdue Payment</span>
      <span>1000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Unpaid Late Chargest</span>
      <span>1000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span><strong>Amount Due</strong></span>
      <span><strong>1200 $</strong></span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span>Less unapplied funds</span>
      <span>1000$</span>
    </div>

    <div class="app-stats__item" fxLayout="row" fxLayoutAlign="space-between">
      <span><strong>Total Amount Due</strong></span>
      <span><strong>1200 $</strong></span>
    </div>
  </mat-card-content>
</mat-card>
