<div fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="space-around">
  <div
    fxLayout="row"
    fxLayoutGap="24px"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around"
  >
    <app-balance-details></app-balance-details>
    <app-next-payment-details></app-next-payment-details>
    <app-dashboard-form></app-dashboard-form>
  </div>

  <div fx-layout="row">
    <app-dashboard-table></app-dashboard-table>
  </div>
</div>
