@import "~@angular/material/theming";
@include mat-core();

/* ======== Angular material custom themes ======== */
$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-red, 100, 500, A100);
$app-warn: mat-palette($mat-lime);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-item {
  color: white;
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 5px 15px 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  p {
    margin-bottom: 0px;
  }

  &--active {
    color: #fff;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
  }

  &-collapse {
    margin-left: auto;
  }

  &__sub {
    margin-top: 0px;
    padding-left: 20px;

    p {
      margin-bottom: 0;
      font-size: 12px;
    }
  }

  &__ab {
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }

  &__icon {
    margin-right: 15px;
    font-size: 20px;
    height: 20px;
    width: 20px;

    &--medium {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }

  &__icon-expand {
    margin-right: 0;
    margin-left: auto;
  }

  &__text {
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0px;

    &--medium {
      font-size: 14px;
      line-height: 30px;
    }
  }

  &:hover {
    color: #fff;
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
  }
}
