<mat-card class="add-loan">
  <mat-card-header>
    <mat-card-title>ADD LOAN</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content class="add-loan__card-body">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Loan number</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>SSN</mat-label>
      <input matInput />
    </mat-form-field>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button
      type="button"
      class="example-full-width"
      mat-raised-button
      color="primary"
    >
      Add
    </button>
  </mat-card-actions>
</mat-card>
