.add-loan {
  max-width: 300px;
  margin: auto;
}

.add-loan__card-body {
  padding-top: 32px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
