<div class="nav-user">
  <div class="nav-user__info" (click)="onOpenUserInfo()">
    <mat-icon class="nav-user__info-icon">account_circle</mat-icon>
    <p>grd.mario</p>
    <mat-icon
      class="nav-item-collapse nav-item__icon--expand"
      [@animationRotate]="state"
    >
      expand_more
    </mat-icon>
  </div>
  <div class="user__links" [@animationShowHide]="state">
    <a class="nav-item nav-item__sub" [routerLink]="['account', 'add']">
      <mat-icon class="nav-item__icon"> add </mat-icon>
      <p class="nav-item__text">Add Loan</p>
    </a>
    <a class="nav-item nav-item__sub">
      <mat-icon class="nav-item__icon"> logout </mat-icon>
      <p class="nav-item__text">Logout</p>
    </a>
  </div>
</div>
