.nav-user {
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;

  &__info {
    margin: 0 15px;
    padding: 10px;
    display: flex;

    &-icon {
      font-size: 30px;
      margin-right: 15px;
    }

    p {
      line-height: 30px;
      margin-bottom: 0px;
    }

    &-collapse {
      font-size: 30px;
      margin-left: auto;
    }
    &:hover {
      color: #fff;
      opacity: 1;
      background: rgba(255, 255, 255, 0.23);
    }
  }
}
