.sp-table__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;

  &__actions {
    button {
      margin-left: 8px;
    }
  }
}
