<mat-card>
  <div class="sp-table__header">
    <mat-card-header>
      <mat-card-title>EXAMPLE TABLE</mat-card-title>
    </mat-card-header>
    <div class="sp-table__header__actions">
      <button mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab color="primary">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transactionIdentifier">
        <mat-header-cell *matHeaderCellDef>
          Transaction Identifier
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.transactionIdentifier }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="transactionDescription">
        <mat-header-cell *matHeaderCellDef>
          Transaction Description
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.transactionDescription }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="effectiveDate">
        <mat-header-cell *matHeaderCellDef> Effective Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.effectiveDate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paidToDate">
        <mat-header-cell *matHeaderCellDef> Paid to date </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.paidToDate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amountPosted">
        <mat-header-cell *matHeaderCellDef> Amount Posted </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.amountPosted }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="principalAmount">
        <mat-header-cell *matHeaderCellDef> Principal Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.principalAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="principalBalanceAmount">
        <mat-header-cell *matHeaderCellDef>
          Principal Balance Amount</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.principalBalanceAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="interestsAmount">
        <mat-header-cell *matHeaderCellDef>
          Principal Balance Amount</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.interestsAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="escrowAmount">
        <mat-header-cell *matHeaderCellDef> Escrow Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.escrowAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lateChangeAmount">
        <mat-header-cell *matHeaderCellDef> Late Change Amount</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.lateChangeAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="unappliedFundsAmount">
        <mat-header-cell *matHeaderCellDef>
          Unapplied Funds Amount</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.unappliedFundsAmount }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="unapliedFundsBalanceAfterTransaction">
        <mat-header-cell *matHeaderCellDef>
          Unapplied Balance Funds Amount</mat-header-cell
        >
        <mat-cell *matCellDef="let element">
          {{ element.unapliedFundsBalanceAfterTransaction }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>
